<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"  
	xmlns:mvc="http://www.springframework.org/schema/mvc"  
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
    
    <!-- Controller异常处理切面类 -->
    <bean id="controllerExceptionHandler" class="com.gary.base.aop.ControllerExceptionHandler" />
    <aop:config expose-proxy="true">
        <aop:aspect id="controllerAspect" ref="controllerExceptionHandler" order="1">
            <aop:pointcut expression="execution(* com.gary.operation.controller.manage.*.*(..))" id="allMethod"/>
            <aop:around method="aroundProcess" pointcut-ref="allMethod"/>
        </aop:aspect>
    </aop:config> 
    
</beans>